body, html {
  height: 100%;
  background-color: rgba(12, 29, 30, 0.647);
  color: white;
  margin: 0 auto;
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
}

main {
  max-width: 25em;
  margin: 2em auto;
}

section {
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8em;
  margin-right: 5em;
}

.rightColumn {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;

}

img {
  height: 50px;
  width: 50px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.foul {
  color: white;
  font-family:Arial, Helvetica, sans-serif, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  border: solid 1px white;
  border-radius: 5px;
  width: 4.5rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
  }

.playerScore {
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}

footer {
  margin-top: 2em;
  font-size: 2rem;
}

.redBall {
  background-color: red;

}

.yellowBall {
  background-color: yellow;

}

.pinkBall {
  background-color: rgb(245, 163, 177);
}

.brownBall {
  background-color: rgb(150, 51, 51);
}

.greenBall {
  background-color: green;

}

.blackBall {
  background-color: black;
}

.blueBall {
  background-color: rgb(0, 170, 255);
}