body, html {
  height: 100%;
  background-color: rgba(12, 29, 30, 0.647);
}

* {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-evenly;
  max-width: 20em;
}

main {
  margin: 1em;
  max-width: 20em;
}

section {
  margin: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
}

img {
  height: 50px;
  width: 50px;
}

.ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

.foul {
  color: white;
  font-family:Arial, Helvetica, sans-serif, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  border: solid 1px white;
  border-radius: 5px;
  width: 4.5rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  margin-top: 5px;
  cursor: pointer;
  

  }

.redBall {
  background-color: red;
  grid-column: 1/4;
  grid-row: 1/1;
}

.yellowBall {
  background-color: yellow;
  grid-column: 2/4;
  grid-row: 1/3;
}

.pinkBall {
  background-color: rgb(245, 163, 177);
}

.brownBall {
  background-color: brown;
}

.greenBall {
  background-color: green;
  grid-column: 3/4;
  grid-row: 1/3;
}

.blackBall {
  background-color: black;
}

.blueBall {
  background-color: rgb(0, 170, 255);
}